.nav-item.nav-item-secondary>a {
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}

.nav-item.nav-item-module>a {
    font-size: 11px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
}

a.nav-link {
    color: rgba(255, 255, 255, 0.2);
}

.nav-item.nav-item-module-title>a {
    font-size: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bolder;
    text-transform: uppercase;
}

.nav-item.nav-item-module-title2>a {
    padding: 0.75rem 1rem;
    font-size: 11px;
    font-weight: 600;
    color: #c2cfd6;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

ul.striped-list>li {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    padding: 6px;
}

ul.striped-list>li:last-child {
    border-bottom: none;
}

i.fa.dot-op-module {
    font-size: 5px;
    position: absolute;
    left: 20px;
    width: 5px;
    height: 5px;
    padding-top: 6px;
    margin-left: -3px;
}